<section id="quiensoy" class="section about-section pbottom-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 align-self-bottom">
        <div class="left-heading">
          <h2 class="section-title">QUIEN SOY? | QUE ME GUSTA?</h2>
        </div>
        <div class="left-text">
          <p class="dark">Soy un desarrollador full-stack con gran experiencia y pasión por la codificación y la construcción de interfaces simples. Tengo un amor maníaco por los grandes proyectos de alta carga. Además, soy una persona tranquila y encajo en cualquier equipo. Trabajo de forma remota y ahorro su presupuesto en mi lugar de trabajo. Entonces, si tienes una tarea complicada, has encontrado a la persona adecuada.</p>
        </div>
        <a href="#" class="btn-primary-line">CONOCEME</a>
      </div>

      <div class="offset-lg-1 col-lg-6 col-md-12 col-sm-12 align-self-bottom">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <a href="services-single.html" class="home-about-item mtop-70" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
              <i class="fa fa-clone"></i>
              <h5 class="about-title">INTERESES</h5>
              <p>Morbi pharetra sapien ut mattis viverra. Curabitur sit amet mattis.</p>
            </a>
            <a href="services-single.html" class="home-about-item" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
              <i class="fa fa-connectdevelop"></i>
              <h5 class="about-title">INTERESES</h5>
              <p>Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo.</p>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <a href="services-single.html" class="home-about-item" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
              <i class="fa fa-object-ungroup"></i>
              <h5 class="about-title">INTERESES</h5>
              <p>Donec pellentesque turpis utium lorem imperdiet semper viverra.</p>
            </a>
            <a href="services-single.html" class="home-about-item" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
              <i class="fa fa-line-chart"></i>
              <h5 class="about-title">INTERESES</h5>
              <p>Facilisis arcu ligula, malesuada id tincidunt laoreet, facilisis at justo.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
