<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <img src="assets/images/logo-dark.png" class="logo" alt="">
        <div class="text">Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <h5>Links</h5>
        <ul class="footer-nav">
          <li><a href="portfolio#quiensoy"><i class="fa fa-angle-right"></i><span>Quién soy?</span></a></li>
          <li><a href="portfolio#estudios"><i class="fa fa-angle-right"></i><span>Estudios</span></a></li>
          <li><a href="portfolio#habilidades"><i class="fa fa-angle-right"></i><span>Habilidades</span></a></li>
          <li><a href="portfolio#proyectos"><i class="fa fa-angle-right"></i><span>Proyectos</span></a></li>
          <li><a href="portfolio#"><i class="fa fa-angle-right"></i><span>Contactame</span></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <h5>Proyectos</h5>
        <ul class="footer-nav">
          <li><a href="#"><i class="fa fa-angle-right"></i><span>Proyecto 1</span></a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i><span>Proyecto 2</span></a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i><span>Proyecto 3</span></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <h5>Contactame</h5>
        <div class="address">
          <p>Callejuela 456<br>Buenos Aires, Argentina</p>
          <p>Phone: (+54) 11 3470 9050</p>
          <p><span>E-Mail:</span><a href="#">hernanpallarez@gmail.com</a></p>
          <ul class="social">
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="https://www.github.com" target="_blank"><i class="fa fa-github-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright">© 2022 Hernán Pallarez. Todos los Derechos Reservados.</p>
      </div>
    </div>
  </div>
</footer>
