<section id="habilidades" class="section-skills">
  <div class="center-heading">
    <h2 class="section-title">MIS NÚMEROS</h2>
  </div>
  <div class="parallax">
    <div class="parallax-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="count-item">
              <strong>102</strong>
              <span>Proyectos<br>Terminados</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="count-item">
              <strong>75</strong>
              <span>Clientes<br>Felices</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="count-item">
              <strong>48</strong>
              <span>Conferencias<br>y Talleres</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="count-item">
              <strong>12</strong>
              <span>Algunos<br>Logros</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="clear"></div>

    <div class="title title-border title-center topmargin-sm">
      <h4>Skills we are Perfect in</h4>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-3 text-center">
        <div class="barraCircular" data-porcentaje="90" data-color="#e76e50" data-tamano="125" data-trazo="2"></div>
        <div class="skill">HTML</div>
      </div>
      <div class="col-sm-6 col-lg-3 text-center">
        <div class="barraCircular" data-porcentaje="22" data-color="#1089b1" data-tamano="125" data-trazo="2"></div>
        <div class="skill">CSS</div>
      </div>
      <div class="col-sm-6 col-lg-3 text-center">
        <div class="barraCircular" data-porcentaje="58" data-color="#ffd166" data-tamano="125" data-trazo="2"></div>
        <div class="skill">JavaScript</div>
      </div>
      <div class="col-sm-6 col-lg-3 text-center">
        <div class="barraCircular" data-porcentaje="82" data-color="#ff1453" data-tamano="125" data-trazo="2"></div>
        <div class="skill">Angular</div>
      </div>
    </div>
  </div>
</section>
